@import './react-tagsinput'

body
  background: gray

#app
  background: white
  min-height: 100vh

h1.instructions-title
  margin-bottom: 20px

h2.instructions-subtitle
  margin-bottom: 20px

.btn-assert
.btn-assert:focus
  height 45px
  background transparent
  color #337ab7
  outline none

.react-tagsinput
  border 1px solid #2e6da4

.react-tagsinput-tag
  font-size 15px

.main-container
  padding-bottom 80px

.footer
  position fixed
  bottom 0
  width 100%
  background-color #f8f8f8
  border-top 1px solid #e7e7e7
  height 40px

.instructions-progress
  text-transform uppercase
  font-size 14px
  font-weight 700
  color gray
  margin-bottom 5px

.footer-container
  line-height 40px

.alert
  margin-top 10px

.uploader-textarea
  resize vertical

.uploader-button
  float right
  margin 20px

.select-label
  line-height 34px
  width 150px

.select-quantity
  display inline-block
  margin-left 20px
  width calc(100% - 170px)

.select-row
  margin-bottom 12px

.exercise-selector .form-group
  margin-bottom 24px

.title-label
  font-size 1.2em
  text-decoration underline
  text-transform uppercase

.submit-area
  text-align center

.upload-button
  padding 16px 60px
  text-transform uppercase
